body{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.informacion{
    display: grid;
    width: 80%;
}
.habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
body div{
    flex: 1;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenido-footer{
    display: grid;
    width: 80%;
}

.iconos-redes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.iconos-redes h1{
    margin-right: 10%;
}

/* Responsive */

@media (min-width: 1281px){
    main {
        width: 1280px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    footer{
        width: 1280px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
@media (min-width: 811px) and (max-width: 1280px){
    /* main {
        width: 80%;
    } */
    footer{
        width: 100%;
    }
}
@media (min-width: 811px){
    main {
        justify-content: space-around;
    }
    .informacion{    
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }
}
@media (max-width: 810px) {
    footer{
        width: 100%;
        justify-self: end;
    }
}
/* Contenido */

@media (min-width:700px) {
    .contenido-footer{    
        grid-template-columns: 3fr 4fr;
        column-gap: 10%;
    }
}
