/* Texto */

* {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.5rem;
    font-weight: 400;
}
h3{
    font-weight: 300;
    font-size: 1.15rem;
}


@media (max-width: 810px) {
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1rem;
    }
}

/* Elementos */

.foto-perfil{
    width: 200px;
    border-radius: 50%;
    border: 6px solid #bdbcbc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -10%;
}
#foto-ud{
    width: 100%;
}
#hr-1{
    width: 80%;
    color: #050b2c;
}

@media (max-width: 810px) {
    .foto-perfil{
        width:30%;
        border-width: 4px;
        margin-top: -15%;
    }
    #hr-1{
        display: none;
    }
}
.habilidades p{
    text-align: center;
}
.habilidades i{
    color: #050b2c;
    transition: 0.3s;
}
.habilidades i:hover{
    color: rgb(15, 89, 226);
}
.habilidades{
    font-size: 1.3rem;
    font-weight: 400;
}
@media (max-width: 810px) {
    .habilidades{
        font-size: 1.8rem;
    }
    .habilidades p{
        margin: auto 10%;
    }
}

.iconos-redes h1 a{
    color: azure;
    transition: 0.3s;
}
.iconos-redes h1 a:hover{
    color: rgb(15, 89, 226);
}

/* Diseño */

.habilidades{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: #050b2c;
    color: azure;
}
@media (min-width:811px) {
    /* footer{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    } */
    #redes{
        text-align: right;
    }
    /* #foto-ud{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    } */
}

