/* Texto */

* {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.5rem;
    font-weight: 400;
}
h3{
    font-weight: 300;
}

@media (max-width: 810px) {
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1rem;
    }
}

/* Elementos */

.foto-perfil{
    width: 200px;
    border-radius: 50%;
    border: 6px solid #bdbcbc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -10%;
}
#foto-ud{
    width: 100%;
}


@media (max-width: 810px) {
    .foto-perfil{
        width:30%;
        border-width: 4px;
        margin-top: -15%;
    }
}
.iconos-redes h1 a{
    color: azure;
}

/* Diseño */

footer{
    background-color: #1b1b1b;
    color: azure;
}
@media (min-width:811px) {
    footer{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #redes{
        text-align: right;
    }
    #foto-ud{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

